.main {
    

}

article {
    width:50%;
    float:left;
    margin:0 auto;
    height:60em;
    background-color: bisque;
    box-sizing: border-box;
    border-collapse: collapse;
    border: .2em solid black;

}

.circle {
    background-color:green;
    width:100px;
    height:100px;
    border-radius: 100px;
    top:-50px;
    left:-50px;
        
}

.wrapper {
    background-color: yellow;
    top:50%;
    left:50%;
    position:absolute;
    
    
 
}