body {
    font-size:4em;
    font-family: Arial, Verdana, sans-serif;
    background: white;
    
  
}

.head {
    background-color:aqua;
    position: static;
    width:100%;
    top:0px;

    
}

header.head img {
    display:inline;
    width: 200px;
    
}


nav {
    background-color: black;
    padding:10px;
    
    
    
}




ul li {
    display: inline-block;
    color: white;
    font:1em;
    margin-left: 1em;
   
}

.illuminations {
  list-style-position: outside;
  
}



img {
    width:100%;
   
}


.main {
    background-color: aqua;
    
    
}

.mainr {
    
}
.foot { 
    background-color: rgba(255, 0, 0, 0.84);        
    
}

h1 {
    text-indent: 30px;
    font-size:1.3em;
    }


p {
    height: 20%px;
    padding: 1em;
    overflow: hidden;
    float:left;
    box-sizing: border-box
    border:1px;
    width:30%
    
}
.title {
    float:left;
}

table {
  width: 600px;
}
th, td {
  padding: 7px 20px 10px 10px;
}
th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}
tr.even {
  background-color: #efefef;
}
tr:hover {
  background-color: #c3e6e5;
}
.money {
  text-align: right;
}
figure img{
    width:800px;
    padding:10px;
    float:none;
}

table {
    margin-left: 30px;
}

.title label{
    float:left;
    width:200px;
}
form {
    margin: 0 auto;
    border: 1px solid white;
    width:50%;
}

form fieldset {
    display:inline;
    
}

form input, form label {
    display: block;
    
}

fieldset {
    width:800px;
    box-sizing: border-box;
    border: 1px solid black;
    
    
    
}

legend {
    color: white;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: left;
    text-transform: capitalize;
    color:black;
    
}
input {
    color:black;
    background-color: lightgrey;    
    margin-bottom: 20px;
    height:60px;
    
}



input#submit:hover { 
    color:white;
    background-color: white;
    
}
.absolute {
    position:absolute;
    right:50px;
    background-color:white;
}
.absolutep {
    color:white;
    width:50%;
}

.logo {
    width:100%;
    background-color:white;
    
   
    
}

.maincont {
    background-color: #ffffff;
    padding: 5%;
    margin: 0 auto;
    display:inline-block;
   
}

.maincont2 {
    display:inline-block;
    background-color: #ffffff;
    margin: 0 auto;
    width:100%;
    
}

.maincont2 img {
    float:left;
    width:22%;
    margin:.3em;
    
}

.row1 {
    background-color:white;
    width:100%;
    margin:0 auto;
    z-index: 10em;
    display: inline-block;
    padding-top:5%;
    top:35%;
       
    
}

.food {
    color:black;
    background-color:white;
}
.image {
    float:left;
    width:22%;
    margin:.5em;
}


    


.image3 {
    float:left;
    width:22%;
    margin:.5em;
    clear:right;
    
}


